@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Quicksand", serif;
}

img{
    width: 100%;
}

/* header section code start */
header{
    max-width: 1280px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

nav .logo{
    display: flex;
    align-items: center;
}

nav .logo p{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.menu-bar ul{
    display: flex;
    gap: 30px;
}

.menu-bar ul li{
    list-style-type: none;
}

.menu-bar ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s;
    cursor: pointer;
}

.menu-bar ul li:nth-child(1) a{
    color: #FEA301;
}

.menu-bar ul li:nth-child(2) a{
    color: #01ACFD;
}

.menu-bar ul li:nth-child(3) a{
    color: #05D4DF;
}

.menu-bar ul li:nth-child(4) a{
    color: #5D58EF;
}

.menu-bar ul li a:hover{
    text-decoration: underline;
}

nav .btn{
    width: 190px;
    padding: 10px 10px;
    background: #FEA301;
    border: 2px solid #FEA301;
    border-radius: 12px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s;
    cursor: pointer;
}

nav .btn:hover{
    background-color: white;
    color: #FEA301;
}
/* hero section code start */
.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin: 60px auto;  
}

.hero-item{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.hero-item h1{
    font-size: 50px;
    font-weight: bold;
}

.hero-item .span-one{
    color: #FEA301;
}

.hero-item .span-two{
    color: #01ACFD;
}

.hero-item .btn-two{
  width: 190px;
  padding: 10px 10px;
  border: 2px solid black;
  background-color: black;
  color: white;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 500;
  transition: 0.5s;
  cursor: pointer;
}

.hero-item .btn-two:hover{
    background-color: white;
    color: #FEA301;
}

.hero-container .image img{
  width: 470px;
}
/* header section code end */


/* main section code start */

/* curriculum section code start  */
.curriculum{
    background-image: url("images/bg.png");
    max-width: 1280px;
    margin: 0 auto;
}
.curriculum-title h2{
    text-align: center;
    font-size: 46px;
    font-weight: bold;
    margin-bottom: 80px;
}

.curriculum-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.curriculum-item{
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg,
        rgb(222, 245, 255),
         rgba(255, 255, 255, 0) 40%),
        rgb(255, 255, 255);
    padding: 60px 30px;
    border-radius: 18.86px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border: 1px solid rgb(222, 245, 255);
}


.curriculum-item .text{
    text-align: center;
    color: #808080;
    line-height: 28px;
}

.curriculum-item img{
    width: 140px;
}


.item-one{
    background: linear-gradient(180deg, #DEF5FF 0%, rgba(0, 0, 0, 0) 40%), #fff;
}
.item-two{
    background: linear-gradient(180deg, #FFF4DC 0%, rgba(0, 0, 0, 0) 40%), #fff;
}


.item-three{
    background: linear-gradient(180deg, #F2E8FF 0%, rgba(0,0,0,0.0) 40%), #fff;
}


.item-one a{
    text-decoration: none;
    color: #64C8FF;
}


.item-two a{
    text-decoration: none;
    color: #FEA301;
}


.item-three a{
    text-decoration: none;
    color: #8700FF;
}

.arrow-container{
    display: flex;
    justify-content: center;
}

.arrow-container > div {
    display: flex;
    gap: 12px;
    margin: 60px auto;
}

.arrow-container button{
    background-color: #FEA301;
    color: white;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: 0.5s;
}

.arrow-container button:hover{
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #FEA301;
    color: #FEA301;
}

/* curriculum section code end  */

/* our Stories section code start */
.Stories{
    background: url("images/bg.png"),
    linear-gradient(0deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
    
}

.main-container{
    max-width: 1280px;
    margin: 0 auto;
  
}

.stories-title h2{
    text-align: center;
    margin-bottom: 80px;
    font-size: 46px;
    font-weight: bold;
}

.stories-container{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px;
}

.container-card{
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 50px;
}

.card-details{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 30px;
}

.text-1st{
    color: #666666;
    line-height: 28px;
}

.date{
    background-color: #3CD8E8;
    color: white;
    width: 170px;
    padding: 15px;
    border-radius: 47px;
    border: none;
    margin-left: 30px;
    margin-top: -35px;
    position: relative;
    z-index: 1;
}

.multiple-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 50px;
}


.multiple-item{
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
}

.text-2nd{
    margin: 30px;
    line-height: 28px;
}

.date-two{
    background-color: #95B226;
    color: white;
    width: 170px;
    padding: 15px;
    border-radius: 47px;
    border: none;
    margin-left: 30px;
    margin-top: -35px;
    position: relative;
    z-index: 1;
}

.date-or{
    background-color: #5D58F0;
}

.btn{
    text-align: center;
    padding: 30px;
}

.btn a{
    width: 190px;
    padding: 10px 10px;
    border: 2px solid black;
    background-color: black;
    color: white;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.btn a:hover {
    background-color: white;
    color: #FEA301;
}

/* our Stories section code end */

/* main section code end */

/* footer section code start */
footer {
    padding: 175px 0;
    background: rgb(1, 172, 253);
    color: white;
}

.kids-education > div {
    display: flex;
    align-items: center;
    gap: 12px;

}

.footers{
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.kids-education h2{
    font-size: 42px;
}


.kids-education p{
    color: white;
    margin-top: 20px;
}

.footer-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-menu ul{
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    gap: 12px;
    font-size: 20px;
    font-weight: 500;
}


.social img{
    width: 40px;
}

.social > div{
    margin-top: 24px;
}

marquee{
  font-size: 24px;
  font-weight: 500;
  padding: 24px;
  color: rgb(102, 102, 102);
}
/* footer section code end */